In [1]:
import numpy as np 
import pandas as pd

In [3]:
df=pd.read_csv('/content/drive/MyDrive/fake_job_postings.csv')

In [4]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [5]:
df.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [6]:
del_cols=['job_id','location','department','salary_range','description','title','company_profile','benefits','requirements']

In [7]:
df=df.drop(del_cols,axis=1)

In [8]:
col_list=list(df.columns)

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [10]:
for i in col_list:
    if df[i].dtype=='object':
        df[i]=df[i].replace(np.nan,df[i].mode()[0],regex=True)

In [11]:
df.isnull().sum()

telecommuting          0
has_company_logo       0
has_questions          0
employment_type        0
required_experience    0
required_education     0
industry               0
function               0
fraudulent             0
dtype: int64

In [12]:
for i in col_list:
    if df[i].dtype=='object':
        df[i]=le.fit_transform(df[i])

In [13]:
df

       telecommuting  has_company_logo  ...  function  fraudulent
0                  0                 1  ...        22           0
1                  0                 1  ...         7           0
2                  0                 1  ...        18           0
3                  0                 1  ...        31           0
4                  0                 1  ...        16           0
...              ...               ...  ...       ...         ...
17875              0                 1  ...        31           0
17876              0                 1  ...         0           0
17877              0                 0  ...        18           0
17878              0                 0  ...         9           0
17879              0                 1  ...        12           0

[17880 rows x 9 columns]

In [14]:
y=df['fraudulent']

In [15]:
x=df.drop(['fraudulent'],axis=1)

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [18]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [20]:

from sklearn.metrics import accuracy_score

In [21]:
prediction=model.predict(x_test)
score=accuracy_score(y_test,prediction)

In [22]:
score

0.9753914988814317

In [23]:
new_df=pd.DataFrame({'actual':y_test,
                    'predicted':prediction})

In [24]:
new_df

       actual  predicted
9256        0          0
3860        0          0
6190        0          0
13658       0          0
11231       0          0
...       ...        ...
17843       0          0
5288        0          0
6925        1          0
6152        0          0
11512       0          0

[3576 rows x 2 columns]